fastapi[all]
sqlalchemy
pydantic==2.8.0
pydantic-settings
uvicorn
langchain>=0.1.0
langchain_xai>=0.0.1
langchain-core>=0.1.0
langgraph>=0.0.19
fastapi-cache2[redis]>=0.2.1
python-dotenv>=1.0.0
passlib[bcrypt]
psycopg2-binary
alembic
pyjwt[crypto]>=2.6.0
python-multipart
pytest>=7.4.0
pytest-env>=1.0.1